*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    /* background-image: url(../img/EP086.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center; */
    background-color: white;
}

header{
    padding: 16px;
    height: 94px;
    background-color: #000;
    /* background-color: rgba(0, 0, 0, alpha); */
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* z-index: 2; */
}

header h1{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -99999999px;
    float: left;
    margin-right: 168px;
    margin-left: 80px;
}
header h1 a{
    display: block;
    width: 70px;
    height: 70px;
}
header nav{
    margin-top: 20px;
}


header li{
    float: left;
    margin-right: 20px;
}

header li a{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
}
header li a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
}
header li a:hover:after{
    width: 100%;
}

.active{
    color: rgb(224, 164, 74);
}


main{
    padding-top: 70px;
}

h2{
    margin-left: 110px;
    margin-bottom: 60px;
}


.kvadrati{
    width: 300px;
    height: 244px;
    background-color: none;
    border: solid 1px black;
    margin-left: 110px;
    margin-right: 30px;
    margin-bottom: 96px;
    /* padding: 100px; */
    float: left;
    position: relative;
}
.trackname{
    font-size: 18px;
    margin-left: 12px;
    margin-top: 146px;
}
.artist{
    font-size: 14px;
    margin-left: 12px;
    margin-top: 14px;
}
.go{
    margin-top: 120px;
    color: #000;
}

.soundwave{
    margin-left: 4px;
    width: 290px;
    height: 72px;
    background-image: url(../img/sound.png);
    background-size: 25%;
    margin-top: -140px;
}

.like{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url(../img/like.png);
    /* background-repeat: no-repeat; */
    background-size: 100%;
}
.like:hover{
    background-image: url(../img/like-active.png);
    cursor: pointer;
}

.kvadrati:hover{
    box-shadow: 1px 1px 4px 4px;
    cursor: pointer;
    width: 300px;
    transition: 0.5s;
}
.kvadrati:hover .go{
    border-bottom: 1px solid #000000;
    width: 40%;
    transition: 0.5s;
}

.latesthits{
    padding-right: 60px;
    font-size: 24px;
}

.facebook{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    right: 0px;
    background-image: url(../img/fb.png);
    background-size: 100%;
}
.facebook:hover{
    background-image: url(../img/facebook-active.png);
    cursor: pointer;
    transition: 0.5s;
}

.instagram{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 350px;
    right: 0px;
    background-image: url(../img/instagram.png);
    background-size: 100%;
}
.instagram:hover{
    background-image: url(../img/instagram-active.png);
    cursor: pointer;
    transition: 0.5s;
}

footer{
    clear: both;
    position: relative;
    margin-top: 124px;
    padding: 20px;
    height: 354px;
    background-color: #000;
}

footer h2{
    width: 150px;
    height: 150px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -99999999px;
    margin: auto;
}

footer nav{
    text-align: center;
    margin-top: 26px;
}
footer nav ul li a{
    color: white;
}

.rights{
    text-align: center;
    color: white;
    margin-top: 50px;
}
